body {
    font-family: 'Roboto Mono', monospace;
    font-size: 62.5%;
    }

h1 {
    font-family: 'Chelsea Market', cursive;
}

.plan {
    margin: 0 4rem;
  border: 2px solid lightgray;
  padding: 2rem;
  display: inline-block;
  border-radius: 2rem;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  margin-bottom: 1rem;
  background-color: #FF764E;
}

.learn {
    margin: 0 4rem;
  border: 2px solid lightgray;
  padding: 2rem;
  display: inline-block;
  border-radius: 1rem;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  margin-bottom: 2rem;
  background-color: #5ED3EB;
}

.get {
    margin: 0 4rem;
  border: 2px solid lightgray;
  padding: 2rem;
  display: inline-block;
  border-radius: 1rem;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  margin-bottom: 2rem;
  background-color: #FFCD69;
}



.bld {
    font-weight: 700;
}